/*
Setting up offcanvas for larger screen (bigger than 992px)
*/
:root {
    --offcanvas-width: 17rem;
    --topNavbarHeight: 56px;
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
    transition: all 0.5s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}


@media(min-width:768px) {
    body {
        overflow: auto !important;
    }

    .offcanvas-backdrop::before {
        display: none !important;
    }

    main {
        margin-left: var(--offcanvas-width) !important;
        //width: 100% - var(--offcanvas-width) !important;
    }

    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
    }
}