// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$bg-primary: yellow;

$bg-green: #4CAF50;
$bg-green-dark: #358c35;